body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    color: rgb(231, 231, 231);
}

html{
    scroll-behavior: smooth;
}

.splash{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: white;
}

.splash-eye{
    background-color: rgb(27, 27, 27);
    position: fixed;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 50%;
    margin-left:-75px ;
    top: 50%;
    margin-top: -75px;
}

.splash-eye-lid{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 50%;
    margin-left:-40px ;
    top: 50%;
    margin-top: -40px;
}

a{
  
    text-decoration: none;
    text-emphasis: none;
    transition: 0.2s;
}

.introduction-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-bottom:40px ;
   
}

.introduction{
    width: 444px;
    margin: auto;
    padding: 30px;
    color: rgb(73, 73, 73);
    font-family: 'Montserrat';
}

.introduction h1{
    font-size: 60px;
}

.introanimation{
    width: 444px;
    height: 500px;
    background-color: rgb(53, 53, 53);
    overflow: hidden;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.096);
   
}
.introanimation .ball{
    width: 200px;
    border-radius: 50%;
    height: 200px;
    background-color: rgb(255, 255, 255);
}

.introanimation .ball .bearing{
    background-color: rgb(53, 53, 53);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


.floatmenu{
    padding: 10px 0;
    width: 200px;
    border-radius: 10px;
    position: fixed;
    top: 80px;
    z-index: 999;
    right: 10px;
    display: none;
    transition: 0.2s;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.199);
}

.floatmenubutton{
    float: right;
    opacity: 0;
}

.floatmenu .floatmenuoption{
    padding: 10px;
}

.floatmenu .floatmenuoption a{
    cursor: pointer;
    color: black;
}



.floatmenu .floatmenuoption:hover{
 background-color: rgb(211, 211, 211);
}

.menu a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(44, 44, 44);
    padding: 10px;
    border-radius: 10px;
}

.menu a{
    margin: 0 30px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.menu p{
    padding: 0 20px;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}


.menu{
    float: right; 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.5s;
    padding: 20px 0;
}

.floatbox1{
    position: absolute;
    top: 50%;
    width: 700px;
    left: 10%;
    z-index: -99;
    height: 800px;
    background-image: linear-gradient(to top right, rgba(194, 139, 139, 0.178) , rgba(196, 131, 131, 0.055));
    border-radius: 30px;
}

.floatbox2{
    position: absolute;
    top: 300%;
    width: 700px;
    right: 10%;
    z-index: -99;
    height: 800px;
    background-image: linear-gradient(to top right, rgba(163, 221, 152, 0.384) , rgba(196, 131, 131, 0.116));
    border-radius: 30px;
}

.sky{
 width: 100%;
 height: fit-content;
}




.ghargrocery{
    width: 90%;
    margin: auto;
    background-image: linear-gradient(to top right,rgb(212, 184, 184),white,white);
    text-align: center;
    border-radius: 50px;
    color: rgb(41, 41, 41);
    padding-bottom: 20px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
}
.ghargrocery .ghargroceryimage{
    max-width: 444px;
    margin: auto;
    width: 80%;
    text-align: center;
    transition: 0.5s;
}

.ghargrocery .ghargroceryimage:hover{
    transform:translate(0,-20px) ;
}

.ghargrocery h1{
    padding: 30px;
    margin: 0;
}

.dscsstc{
    width: 90%;
    margin: auto;
    background-image: linear-gradient(to top right,rgb(177, 207, 216),rgb(217, 238, 241));
    text-align: center;
    border-radius: 50px;
    color: rgb(41, 41, 41);
    padding-bottom: 20px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;

}

.dscsstc .dscsstcimage{
    max-width: 370px;
    transition: 0.2s;
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.048);
    background-color: white;
    transition: 0.5s;
    margin-bottom: 30px;
    margin-top: 10px;
    
}

.dscsstc .dscsstcimage:hover{
    transform:translate(0,-20px);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.096);
}

.dscsstc h1{
    padding: 30px;
}


.arrow{
    width: 100px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -50px;

}






.chatbot{
    width: 300px;
    height: 80%;
    position: fixed;
    top: 15%;
    right: 10px;
    background: white;
    color: rgb(0, 0, 0);
    z-index: 999;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.144);
    display: none;
    border-radius: 10px;
    overflow: hidden;
}   

.chatbot .chat{
    overflow-y: scroll;
    height: 85%;
    margin-bottom: 20px;
}

.chatbot .head{
    text-align: center;
    width: 90%;
    height: 5%;
    overflow: hidden;
    padding: 5%;
    color: white;
    background-color: rgb(36, 36, 36);
    display: flex;
}

.chatbot .head .heading{
   text-align: center;
   width: 100%;
}

.chatbot .head .cross{
    position: absolute;
    right: 20px;
    transition: 0.1s;
}

.chatbot .head .cross:hover{
    transform: scale(2);
    
}

.bot{
    width: fit-content;
    margin: 10px;
    padding: 20px 20px;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 10px;
    float: left;
}


.botbot{
    width: 40px;
}

.chatbot .me{
    width: fit-content;
    margin: 10px;
    text-align: end;
    padding: 20px 20px;
    color: white;
    float: right;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
}
.chatbot .option{
    background-color: rgb(238, 209, 174);
    width: fit-content;
    padding: 10px;
    color: black;
    margin: 10px 10px;
    border-radius: 5px;
    transition: 0.1s;
    font-size: 15px;
    
}

.chatbot .option-wrapper{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

.chatbot .option:hover{
    background-color: rgb(212, 182, 146);
}



.about{
    display: flex;
    flex-wrap: wrap;
    color: black;
}

.about .image-wrapper{
    width: 500px;
    border-radius: 30px;
    overflow: hidden;
    margin: auto;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.171);
}

.about .image-wrapper img{
    width: 100%;

}

.about .content{
    margin: auto;
    width: 200px;
}


.botanim{
    width: 400px;
    height: 400px;
    background: rgb(44, 44, 44);
    border-radius: 30px;
    margin: 0 auto 40px auto;
    overflow: hidden;
}
.botanim .eye-wrapper{
    display: flex;
    margin-top: 20%;
}

.botanim .mouth{
    width: 40%;
    color: rgb(41, 41, 41);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin: auto;
    margin-top: 15%;
    transition: 0.3s;
}

.botanim .mouth:hover{
    background-color: rgb(219, 48, 48);
    border: 3px solid white;
    color: rgb(255, 255, 255);

}
.botanim .eye{
    background: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px solid white;
    overflow: hidden;
}

.botanim .eye .eyeball{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgb(44, 44, 44);
}


@media screen and (max-width:600px){
    .ghargrocery{
        width: 95%;
        border-radius: 30px;
    }
  
    .botanim{
        width: 90%;
        height: 80%;
    }
    .floatbox1{
        width: 90%;
    }
    .floatbox2{
        width: 90%;
    }
    .about .image-wrapper{
        width: 95%;
    }

    .about .content{
        width: 50%;
        margin: 2.5%;
    }
    .dscsstc{
        width: 95%;
        border-radius: 30px;
    }
    .introanimation{
        width:95%;
    }
    .floatmenubutton{
        opacity: 1;
    }

    .chatbot{
        width: 96%;
        left: 50%;
        margin-left: -48%;
    }
    .arrow{
        width: 50px;
        left: 50%;
        margin-left: -25px;
    }
    .menu .menu-item{
        display: none;
    }
    #moon{
        width: 80% ;
    }

   
   

    .mountain{
        background-size: 800px;
    }

   
}