body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    color: white;
}

html{
    scroll-behavior: smooth;
}

a{
    color: white;
    text-decoration: none;
    text-emphasis: none;
    transition: 0.2s;
}

a:hover{
    color: rgb(192, 192, 192);
}

.menu a{
    margin: 0 30px;
    font-size: 20px;
}


.menu{
    float: right; 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.5s;
    padding: 20px 0;
}

.sky{
 width: 100%;
 height: 100%;
 background-image: linear-gradient(rgb(17, 0, 95) , rgb(191, 112, 255));
}

.city{
    width: 100%;
    position: absolute;
    transition: 0.1s;
  
}

.star{
    height: 2px;
    width: 2px;
    background-color: white;
    position: absolute;
   overflow: hidden;
 
}

.content{
    width: 90%;
    margin: auto;
    background-color: white;
    height: 100%;
    border-radius: 50px;
}

.fade{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 24%;
    background-size: 1000px;
    background-image: url(image/fade.png);
    background-repeat: repeat-x;
}


.arrow{
    width: 100px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -50px;

}

#moon{
    width: 400px;
    position: absolute;
    top: 10%;
    transition: 0.3s;
    overflow: hidden;
}

.mountain{
    width: 100%;
    position: absolute;
    bottom: 10%;
    height: 50%;
    transition: 0.2s;
    opacity: 0.7;
    background-size: 1000px;
    background-image: url(image/mountain.png);
    background-repeat: repeat-x;
}

.one{
    bottom: 0;
    height: 29%;
    background-size: 1000px;
    background-image: url(image/city-dark-1.png);
    background-repeat: repeat-x;
}

.two{
    bottom: 0;
    height: 33%;
    background-size: 900px;
    background-image: url(image/city-dark-2.png);
    background-repeat: repeat-x;
}

.three{
    bottom: 0;
    height: 33%;
    background-size: 900px;
    background-image: url(image/city-dark-3.png);
    background-repeat: repeat-x;
}


.about{
    height: 100%;
    width: 100%;
    background-color: rgb(224, 224, 224);
}


@media screen and (max-width:600px){
    .content{
        width: 95%;
        border-radius: 30px;
    }
    
    .arrow{
        width: 50px;
        left: 50%;
        margin-left: -25px;
    }
    .menu .menu-item{
        display: none;
    }
    #moon{
        width: 95% ;
    }

    .name{
        display: block;
    }
    .one{
        background-size: 1000px;
    }
    .two{
        background-size: 900px;
    }
    .three{
        background-size: 800px;
    }

    .mountain{
        background-size: 1000px;
    }

   
}