body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    color: white;
}

html{
    scroll-behavior: smooth;
}

a{
  
    text-decoration: none;
    text-emphasis: none;
    transition: 0.2s;
}



.floatmenu{
    width: 200px;
    position: fixed;
    top: 80px;
    z-index: 999;
    right: 10px;
    display: none;
    transition: 0.2s;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.199);
}

.floatmenubutton{
    float: right;
    opacity: 0;
}

.floatmenu .floatmenuoption{
    padding: 10px;
}

.floatmenu .floatmenuoption a{
    cursor: pointer;
    color: black;
}

.floatmenu .floatmenuoption:hover{
 background-color: rgb(211, 211, 211);
}

.menu a:hover{
    color: rgb(192, 192, 192);
}

.menu a{
    margin: 0 30px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}


.menu{
    float: right; 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.5s;
    padding: 20px 0;
}

.sky{
 width: 100%;
 height: 100%;
 background-image: linear-gradient(rgb(0, 0, 0) , rgb(191, 112, 255));
}

.city{
    width: 100%;
    position: absolute;
  
}

.star{
    height: 2px;
    width: 2px;
    background-color: rgb(177, 177, 177);
    position: absolute;
   overflow: hidden;
 
}

.ghargrocery{
    width: 90%;
    margin: auto;
    background-image: linear-gradient(to top right,rgb(212, 184, 184),white,white);
    text-align: center;
    border-radius: 50px;
    color: rgb(41, 41, 41);
    padding-bottom: 20px;
}
.ghargrocery .ghargroceryimage{
    max-width: 444px;
    margin: auto;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

.ghargrocery .ghargroceryimage:hover{
    transform:translate(0,-20px) ;
}

.ghargrocery h1{
    padding: 30px;
    margin: 0;
}

.fade{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 24%;
    background-size: 1000px;
    background-image: url(image/fade.png);
    background-repeat: repeat-x;
}


.arrow{
    width: 100px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -50px;

}

#moon{
    width: 400px;
    position: absolute;
    top: 10%;
    overflow: hidden;
    opacity: 0.5;
}

.mountain{
    width: 100%;
    position: absolute;
    bottom: 10%;
    height: 50%;
    opacity: 0.7;
    background-size: 1000px;
    background-image: url(image/mountain.png);
    background-repeat: repeat-x;
}

.one{
    bottom: 0;
    height: 29%;
    background-size: 1000px;
    background-image: url(image/city-dark-1.png);
    background-repeat: repeat-x;
}

.two{
    bottom: 0;
    height: 33%;
    background-size: 900px;
    background-image: url(image/city-dark-2.png);
    background-repeat: repeat-x;
}

.three{
    bottom: 0;
    height: 33%;
    background-size: 900px;
    background-image: url(image/city-dark-3.png);
    background-repeat: repeat-x;
}


.about{
    width: 100%;
    background-color: rgb(224, 224, 224);
}


.chatbot{
    width: 400px;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -200px;
    background: white;
    color: rgb(0, 0, 0);
    z-index: 999;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.144);
    display: none;
}   

.chatbot .chat{
    overflow-y: scroll;
    height: 85%;
}

.chatbot .head{
    text-align: center;
    width: 90%;
    height: 5%;
    padding: 5%;
    color: white;
    background-color: rgb(36, 36, 36);
    display: flex;
}

.chatbot .head .heading{
    position: absolute;
    top: 25px;
    left: 50%;
    z-index: 20;
    margin-left: -54px;
}

.chatbot .head .cross{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.bot{
    width: fit-content;
    margin: 20px;
    padding: 20px 20px;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 10px;
}

.chatbot .option{
    background-color: rgb(238, 209, 174);
    width: fit-content;
    padding: 15px;
    margin: 10px 20px;
    border-radius: 15px;
    transition: 0.1s;
}

.chatbot .option:hover{
    background-color: rgb(212, 182, 146);
}

@media screen and (max-width:600px){
    .content{
        width: 95%;
        border-radius: 30px;
    }
   
    .floatmenubutton{
        opacity: 1;
    }

    .chatbot{
        width: 96%;
        left: 50%;
        margin-left: -48%;
    }
    .arrow{
        width: 50px;
        left: 50%;
        margin-left: -25px;
    }
    .menu .menu-item{
        display: none;
    }
    #moon{
        width: 80% ;
    }

   
    .one{
        background-size: 1000px;
    }
    .two{
        background-size: 900px;
    }
    .three{
        background-size: 900px;
        bottom: -2%;
    }

    .mountain{
        background-size: 800px;
    }

   
}